In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
train_features = pd.read_csv('FLU_VACCINE_ML/training_set_features.csv')
train_labels = pd.read_csv('FLU_VACCINE_ML/training_set_labels.csv')
test_features = pd.read_csv('FLU_VACCINE_ML/test_set_features.csv')

In [11]:
print(train_features.dtypes)

respondent_id                    int64
h1n1_concern                   float64
h1n1_knowledge                 float64
behavioral_antiviral_meds      float64
behavioral_avoidance           float64
behavioral_face_mask           float64
behavioral_wash_hands          float64
behavioral_large_gatherings    float64
behavioral_outside_home        float64
behavioral_touch_face          float64
doctor_recc_h1n1               float64
doctor_recc_seasonal           float64
chronic_med_condition          float64
child_under_6_months           float64
health_worker                  float64
health_insurance               float64
opinion_h1n1_vacc_effective    float64
opinion_h1n1_risk              float64
opinion_h1n1_sick_from_vacc    float64
opinion_seas_vacc_effective    float64
opinion_seas_risk              float64
opinion_seas_sick_from_vacc    float64
age_group                       object
education                       object
race                            object
sex                             object
income_poverty                  object
marital_status                  object
rent_or_own                     object
employment_status               object
hhs_geo_region                  object
census_msa                      object
household_adults               float64
household_children             float64
employment_industry             object
employment_occupation           object
dtype: object

In [20]:
train_labels.head(20)

    respondent_id  h1n1_vaccine  seasonal_vaccine
0               0             0                 0
1               1             0                 1
2               2             0                 0
3               3             0                 1
4               4             0                 0
5               5             0                 0
6               6             0                 0
7               7             1                 1
8               8             0                 0
9               9             0                 0
10             10             1                 1
11             11             1                 1
12             12             0                 1
13             13             0                 0
14             14             0                 0
15             15             0                 0
16             16             1                 1
17             17             0                 0
18             18             0                 0
19             19             0                 0

In [21]:
print(test_features.dtypes)

respondent_id                    int64
h1n1_concern                   float64
h1n1_knowledge                 float64
behavioral_antiviral_meds      float64
behavioral_avoidance           float64
behavioral_face_mask           float64
behavioral_wash_hands          float64
behavioral_large_gatherings    float64
behavioral_outside_home        float64
behavioral_touch_face          float64
doctor_recc_h1n1               float64
doctor_recc_seasonal           float64
chronic_med_condition          float64
child_under_6_months           float64
health_worker                  float64
health_insurance               float64
opinion_h1n1_vacc_effective    float64
opinion_h1n1_risk              float64
opinion_h1n1_sick_from_vacc    float64
opinion_seas_vacc_effective    float64
opinion_seas_risk              float64
opinion_seas_sick_from_vacc    float64
age_group                       object
education                       object
race                            object
sex                             object
income_poverty                  object
marital_status                  object
rent_or_own                     object
employment_status               object
hhs_geo_region                  object
census_msa                      object
household_adults               float64
household_children             float64
employment_industry             object
employment_occupation           object
dtype: object

In [30]:
train_labels['h1n1_vaccine'].value_counts(normalize=True) * 100

h1n1_vaccine
0    78.754634
1    21.245366
Name: proportion, dtype: float64

In [28]:
train_labels['seasonal_vaccine'].value_counts(normalize=True) * 100

seasonal_vaccine
0    53.439173
1    46.560827
Name: proportion, dtype: float64

In [31]:
pd.crosstab(
    train_labels['h1n1_vaccine'],
    train_labels['seasonal_vaccine']
)

seasonal_vaccine      0     1
h1n1_vaccine
0                 13295  7738
1                   977  4697

In [35]:
from sklearn.model_selection import train_test_split
x = train_features
y = train_labels
x_train, x_val, y_train, y_val = train_test_split(
    x,
    y,
    test_size=0.2,
    random_state=42
)
x_train.shape, x_val.shape, y_train.shape, y_val.shape

((21365, 36), (5342, 36), (21365, 3), (5342, 3))

In [37]:
x_train.isna().sum().sort_values(ascending = False).head(10)

employment_occupation    10736
employment_industry      10627
health_insurance          9858
income_poverty            3514
doctor_recc_h1n1          1736
doctor_recc_seasonal      1736
rent_or_own               1628
employment_status         1162
education                 1125
marital_status            1120
dtype: int64

In [41]:
x = x_train.copy()
y = y_train.copy()
numeric_cols = x.select_dtypes(include=['int64', 'float64']).columns
categorical_cols = y.select_dtypes(include=['object']).columns
print('Numerical columns: ', len(numeric_cols))
print('categorical columns: ', len(categorical_cols))

Numerical columns:  24
categorical columns:  0